<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>254801060212-n4gn892vb00rv3u6jl23mth7v63nrl11.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.254801060212-n4gn892vb00rv3u6jl23mth7v63nrl11</string>
	<key>API_KEY</key>
	<string>AIzaSyB-wjnhIpMezxGUFzIpFQsve-mFEHiRgAo</string>
	<key>GCM_SENDER_ID</key>
	<string>254801060212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.careshareeyewear</string>
	<key>PROJECT_ID</key>
	<string>careshare-eyewear</string>
	<key>STORAGE_BUCKET</key>
	<string>careshare-eyewear.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:254801060212:ios:007745103ecfbd8c780c21</string>
</dict>
</plist>